@model IEnumerable<Lab10Authentication.Models.Entities.CartItem>

@{
    ViewData["Title"] = "Checkout";
    decimal grandTotal = 0;
}

<h2>Checkout</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
        grandTotal += item.Price * item.Quantity;
}
    </tbody>
</table>
<div>
    <h3>Grand Total: @grandTotal.ToString("C")</h3>
    <form asp-action="Checkout">
        <input type="submit" value="Checkout" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-success">Back to Shopping Cart</a>
    </form>
</div>